html, body {
  height: 100%;
  width: 100%;
  background-image: url("https://images.wallpapersden.com/image/download/new-cool-swirl-4k-art_bGVtZWqUmZqaraWkpJRobWllrWdma2U.jpg");
}

h1{
  color: black

font-weight: bold
  
  

  
}


