html, body {
  height: 100%;
  width: 100%;

}

h1{
  color: darkslateblue; 
font-weight: bold 
}

p{
  color: darkslateblue;
  
}

label{
 color: steelblue;
  
}

button{
  color: darkslateblue;
  
}

input{
  margin-left: 400px
  
}
