
html, body {
  height: 100%;
  width: 100%;
  background-color: snow;
  background-image: url("Border2.png");
  background-size: 100% 100%
}

div2{
  height: 100 px
}

h1{
  color: darkslateblue; 
font-weight: bold 
}

p{
  color: darkslateblue;
  
}

label{
 color: steelblue;
  
}

button{
  color: darkslateblue;
  
}

input{
  margin-left: 400px
  
}

img{
  height: 100%;
  width: 100%;
}